.pastlogs-section {
    position: relative;
}
.past-logs__modal-container {
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.past-logs__modal {
    padding: 10px;
    background-color: #e0cfb2;
    text-align: left;
}

.past-logs__modal {
    position: relative;
}

.past-Log__modal__close-link {
    position: absolute;
    top: -10px;
    right: 10px;
}
// =================
// RESPONSIVE DESIGN
// =================
// **Landscape phone to portrait tablet**
@media (min-width: 480px) {

}
// **Portrait tablet to small desktops**
@media (min-width: 767px) {
    
}
// **Small desktop to large desktops**
@media (min-width: 940px) {
    
}