.top-nav {
    display: flex;
    justify-content: space-around;
    background-color: $colour-body;
    padding: 15px 10px;
    &__link {
        font-size: 1.6rem;
        text-decoration: none;
        color: $colour-white;
        text-transform: uppercase;
        position: relative;
        transition: transform 0.3s, opacity 0.3s;
        &::after {
            content: "";
            height: 2px;
            width: 100%;
            background-color: $colour-white;
            position: absolute;
            left: 0;
            bottom: 0;
            opacity: 0;
            transform: translateY(10px);
        }
        &:hover::after, &:hover::after {
            opacity: 0.7;
            transform: translateY(0px);
        }
        &:hover {
            color: $colour-white;
            opacity: 0.7;
        }
        
        // &:hover .top-nav {
        //     padding: 10px 10px;
        // }
    }
}

// =================
// RESPONSIVE DESIGN
// =================
// **Landscape phone to portrait tablet**
@media (min-width: 480px) {

}
// **Portrait tablet to small desktops**
@media (min-width: 767px) {
    
}
// **Small desktop to large desktops**
@media (min-width: 940px) {
    
}