.top-nav {
    display: flex;
    justify-content: space-between;
    background-color: $colour-body;
    padding: 15px 10px;
    &__link {
        font-size: 1.6rem;
        text-decoration: none;
        color: $colour-white;
        text-transform: uppercase;
    }
}

// =================
// RESPONSIVE DESIGN
// =================
// **Landscape phone to portrait tablet**
@media (min-width: 480px) {

}
// **Portrait tablet to small desktops**
@media (min-width: 767px) {
    
}
// **Small desktop to large desktops**
@media (min-width: 940px) {
    
}